PORT=5000
MONGODB_URI=mongodb+srv://anshulkotwal12:Anshul12@cluster0.rnwmzvk.mongodb.net/?appName=Cluster0
JWT_SECRET=112d724eb447e212260dc6459ee7d309c5cb84165e54e90571cedbda51ced15f
OPENAI_API_KEY=AIzaSyCNbXN3d-rFne_EJyPcmMHOtXSwby6-azE
CLIENT_URL=http://localhost:5173
